### Setup

In [1]:
import os
import pandas as pd

In [2]:
PATH_CODES = '../../cities.csv'
KEYWORD = 'Violencia'

#### CSV Files

In [3]:
cities = pd.read_csv(PATH_CODES)
cities

       lat      lng   Municipality  Municipality code     ISO
0   6.2447 -75.5748       Medellín               5001  CO-ANT
1   3.4400 -76.5197           Cali              76001  CO-VAC
2   4.5781 -74.2144         Soacha              25754  CO-CUN
3   4.1425 -73.6294  Villavicencio              50001  CO-MET
4   1.2136 -77.2811          Pasto              52001  CO-NAR
5  10.9639 -74.7964   Barranquilla               8001  CO-ATL
6   7.1186 -73.1161    Bucaramanga              68001  CO-SAN
7   4.4378 -75.2006         Ibagué              73001  CO-TOL
8   2.4411 -76.6061        Popayán              19001  CO-CAU
9   7.9075 -72.5047         Cúcuta              54001  CO-NSA

### Read each file

In [7]:
dfs = []
for city in cities.ISO:
    
    dfs.append(pd.concat([pd.read_csv(f'cities/{city}_{KEYWORD}(1).csv'), pd.read_csv(f'cities/{city}_{KEYWORD}.csv')]))

In [9]:
dfs[1]

               Category: All categories
Week        Violence: (Valle del Cauca)
2019-01-06                           32
2019-01-13                           30
2019-01-20                           46
2019-01-27                           37
...                                 ...
2018-12-02                           34
2018-12-09                           37
2018-12-16                           18
2018-12-23                           35
2018-12-30                           26

[506 rows x 1 columns]